@import "../style-variables/scss-variables.scss";

.header {
  background-color: var(--color-white);

  height: 12rem;

  box-shadow: $shadow-1;

  // margin-top: -5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
    margin: auto;
  }

  &__title {
    font-size: $title-size;
    font-weight: bold;

    color: var(--color-primary);
  }

  &__nav {
    font-size: 1.8rem;
    display: flex;
    gap: 1rem;

    color: $color-grey-light;

    a {
      @include resetLink;
    }

    &__item {
      &:not(:last-child) {
        padding-right: 1rem;
        border-right: 2px solid black;
      }

      transition: all 0.2s;
    }
  }
}
