@import "../style-variables/scss-variables.scss";

.landing-page {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: center;

  padding: 5rem 3rem;

  @media only screen and (max-width: $bp-largest) {
    width: 100%;
    height: auto;
    margin: auto;
  }

  img {
    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
}
