@import "../style-variables/scss-variables.scss";

.main {
  width: 140rem;
  padding-bottom: 10rem;
  min-height: 100rem;

  margin: auto;
  padding-top: 5rem;

  position: relative;

  background-color: $color-grey-light-2;

  border-radius: 0.8rem;
  overflow: hidden;

  box-shadow: $shadow-3;

  &__section {
    margin-left: 29rem; //29rem is the width of the sidebar

    @media only screen and (max-width: $bp-large) {
      margin-left: 27rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-left: 25.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-left: 0;
      z-index: 1;
      position: relative;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    width: auto;
  }
}
