.mobile-sidebar {
  padding: 1rem 3rem;
  svg {
    height: 3rem;
    width: 3rem;

    border-radius: 0.5rem;

    color: var(--color-grey-light);
    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      color: var(--color-dark);
    }
  }
}
