@import "../style-variables/scss-variables.scss";

.side-bar {
  height: 100%;
  width: 29rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: var(--color-white);

  box-shadow: $shadow-2;

  @media only screen and (max-width: $bp-large) {
    width: auto;
  }

  @media only screen and (max-width: $bp-small) {
    &__small {
      visibility: hidden;

      z-index: 1;
    }

    &__visible {
    }
  }

  &__title {
    color: var(--color-primary);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    font-size: $title-size;
    font-weight: bold;
  }

  &__section {
    display: flex;
    justify-content: start;

    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;

    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }

    &--2 {
      justify-self: start;
    }
  }

  &__lists {
    font-size: 2rem;
    color: $color-grey-light;
    text-transform: capitalize;
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.8rem;
    }
    ul,
    li {
      list-style: none;
      padding: 0.5rem;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

    gap: 1rem;
  }

  &__list-title {
    transition: all 0.2s;

    position: relative;

    height: min-content;

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 50%;
      width: 0.4rem;
      height: 0;
      background-color: var(--color-primary);

      border-radius: 1rem;

      transition: all 0.3s;
    }

    &--active {
      transition: all 0.2s;

      color: var(--color-dark);

      &::before {
        content: "";
        position: absolute;
        left: -1rem;
        top: 50%;
        width: 0.4rem;
        height: 70%;
        background-color: var(--color-primary);

        border-radius: 1rem;

        transform: translateY(-50%);

        transition: all 0.3s;
      }
    }

    &:hover {
      cursor: pointer;
      color: var(--color-dark);

      &::before {
        height: 70%;

        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__list-icon {
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      color: var(--color-dark);
      cursor: pointer;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__list-new {
    transition: all 0.2s;
    &:hover {
      filter: brightness(50%);
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
