@import "../style-variables/scss-variables.scss";

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  font-size: $text-size;

  &__menu {
    display: flex;
    gap: 2rem;
  }

  &__symbols {
    display: flex;
    gap: 1rem;
  }

  &__due-date {
    width: 20rem;
    text-align: right;
  }

  &__completed {
    text-decoration: line-through;
  }

  &__symbol {
    color: $color-grey-light;

    transition: all 0.2s;

    &:hover {
      filter: brightness(50%);
      transform: scale(1.1);

      cursor: pointer;
    }

    &--x {
      // the cross is much larger. this quickly fixes the size compared to the rest
      transform: scale(0.7);

      &:hover {
        filter: brightness(50%);
        transform: scale(0.8);
      }
    }
  }
}
