@import "../style-variables/scss-variables.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 2rem;

  font-size: 2rem;

  &--centered {
    align-items: center;
  }

  &__inputs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $form-gap;

    @media only screen and (max-width: $bp-large) {
      gap: 0.5rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;

    &--full {
      width: 100%;
    }

    & input {
      font-size: inherit;
      background-color: $color-grey-light-2;

      border: 1px solid grey;
      border-radius: 0.5rem;
      padding: 1rem;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &__label {
    }
  }
}
