:root {
  --color-primary: #2d48c0;
  --color-primary-dark: #b30716;

  --color-overdue: red;
  --color-not-overdue: rgb(67, 207, 67);

  --color-white: #fff;
  --color-dark: #2e3446;

  //   $color-dark-1: #191a1d;

  --color-grey-light: #ababab;
  --color-grey-light-2: #f6f6f6;
  --color-grey-light-3: #a59d9d;
}
