@import "./style-variables/css-variables.scss";
@import "./style-variables/scss-variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// my styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 58.75%;
  }
}

body {
  box-sizing: border-box;

  font-family: sans-serif; //todo -- find a nice font for the site.
  //todo -- find a nice font weight

  //for the modal to work
}

.app {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: rgba(#2d48c0, 0.7);
  background-size: cover;

  @media only screen and (max-width: $bp-largest) {
    padding-top: 0rem;
    padding-bottom: 0rem;

    background-color: #fff;
  }
}
